*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"freight big pro";
}
html,body{
    height:100%;
    width:100%;
}
#loader h1{
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5vw;
    position:relative;
    z-index:9;
    letter-spacing: -3px;
}
#loader video{
    height:100%;
    width:100%;
    position:absolute;
    object-fit: cover;
    z-index: 6;
}
#yellow1{
    height:100%;
    position:absolute;
    width:100%;
    background-color: #f5e41b;
    z-index: 8;
   
   

}
#yellow2{
    height:100%;
    position:absolute;
    width:100%;
    background-color: #f5e41b;
    z-index: 7;
}
#loader{
    height:100vh;
    width:100%;
    background-color: black;
  position:fixed;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#nav{
    position: absolute;
    width:100%;
    color: black;
    z-index: 10;
    opacity: 0;  /* Hide initially */
}
#main{
    background-color: black;
}

#page1{
    height:100vh;
    width:100%;
    background-color: #f5e41b;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#page1 h1{
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5vw;
    letter-spacing: -2px;
}
#page2{
    height:100vh;
    width:100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.elem{
    
    width:100%;
    position:relative;
    cursor: pointer;
}
.elem .blur{
    position: absolute;
    width: 35%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background:linear-gradient(to right,#f5e31bf0,#f5e41b,#f5e31bf6);
    box-shadow: 10px 0px 20px 20px #f5e41b,-10px 0px 20px 20px #f5e41b;
    height:100%;
    z-index: 8;
}
.elem h2{
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 5;
    line-height: 5.5vw;
     transition: all ease 0.2s;
     z-index: 20;
    
}
.elem .moving{
    background-color: #f5e41b;
    width: 100%;
    white-space: nowrap;
    padding: 6px 0; /* Reduce padding */
    position: absolute;
    top:50%;
    transform: translate(0,-50%) scaleY(0);
    transform-origin: center;
    transition: .3s ease;
    z-index: 10;
    max-height: 40px;       /* <- limit height */
    overflow: hidden;       /* <- hide extra text so it remains a stripe */
}

.elem .moving .moving-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: moving;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.elem .moving .moving-in h5{
    color:black;
    display:inline-block;
    font-weight: 500;
    font-size: 19px;
    font-family: gilroy;
    text-transform: uppercase;
    margin-right: 35px;
    opacity: 0;
    transition-delay: 0.3s;
    transition: all ease 0.5s;
}
@keyframes moving{
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.elem:hover .moving{
     transform: translate(0, -45%) scaleY(1);
}
.elem:hover .moving h5{
     opacity: 1;
}
.elem:hover h2{
    font-style: italic;
}

#page3{
    height:1100px;
    width:100%;
    background-color: white;
}
.image-container{
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
   
}
.image-div{
    height:31vw;
    width:30vw;
    position:relative;
    overflow:hidden;          /* important */
    margin:20px;
}

.image-div img{
    height:100%;
    width:100%;
    object-fit:cover;
    transition:0.5s ease;
}

.overlay{
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.027);  /* start transparent */
    position:absolute;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px;
    transition:0.5s ease;
    transition-delay: 0.2s;
    z-index:2;   /* overlay above image */
}

.overlay p{
    font-size:2.5vw;
    text-transform:uppercase;
    text-align:center;
    color:white;
    opacity:0;
    transition:0.5s ease;
    
}

.image-div:hover img{
    transform:scale(1.1);
}

.image-div:hover .overlay{
    background-color:rgb(0, 0, 0);   /* dim image, not hide */
}

.image-div:hover .overlay p{
    opacity:1;
}
.h1{
    transform: translate(500px,-500px);
}
.h2{
    transform: translate(-500px,-500px);
}
.h3{
    transform: translatey(-1000px);
}
.h4{
    transform: translate(500px,-1500px);
}
